/* General Styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/* Login Container */
.login-container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(150deg, #ffe645 0%, #e2aa02 100%);
  position: relative;
}

/* Logo */
.login-container .logo {
  font-size: 4vw;
  font-weight: bold;
  letter-spacing: 0.5vw;
  position: absolute;
  top: 5vh;
  right: 5vw;
}

/* Film Image */
.film {
  width: 30vw;
  position: absolute;
  top: 5vh;
  left: 5vw;
}

/* Description */
.des {
  font-size: 1.5vw;
  letter-spacing: 0.2vw;
  position: absolute;
  top: 20vh;
  right: 5vw;
  text-align: right;
  width: 60vw;
  font-family: 'Montserrat', sans-serif;
}

/* Login Form */
/* .login-form {
  width: 90%; /* Adjust width based on viewport width
  max-width: 300px;
  padding: 5vw; /* Adjust padding based on viewport width
  background-color: #fff;
  border-radius: 2vw;
  position: absolute;
  bottom: 5vh;
  right: 5vw; /* Adjust right position
  box-shadow: 2vw 2vw 8vw #383833;
} */
.login-form{
  margin-right: 50px;
  width: 400px;
  height : 250px;
  padding : 15px;
  background-color : #fff;
  border-radius : 10px;
  position : absolute;
  bottom  :20px;
  right : 50px;
  box-shadow : 5px 5px  20px #383833;
}


/* Form Group */
.form-group {
  margin-top: 1vw;
}

/* Labels */
label {
  font-weight: bold;
  margin-right: 1vw;
}

/* Button Container */
.btn-container {
  margin-top: 1vw;
  position: relative;
}

/* Buttons */
.btn {
  margin-top: 1vw;
}

/* Error Messages */
.error {
  position: absolute;
  top: 1vw;
  right: -1vw;
  color: red;
  font-size: 1.5vw;
}
